# Ignore everything
/*

# Folders
!/gradle
!/src
!/.gitattributes
!/.gitignore
!/.editorconfig
!/build.gradle
!/gradle.properties
!/gradlew
!/gradlew.bat
!/settings.gradle
!/LICENSE
!/HEADER
!/.github
!/readme.md
